export interface {{&methodName}}Request {
  type: '{{&className}}//{{&methodName}}//REQUEST'
  {{#parameters}}
   '{{&camelCaseName}}{{&cardinality}}': {{> type}}
  {{/parameters}}
}

export interface {{&methodName}}Success {
  type: '{{&className}}//{{&methodName}}//SUCCESS'
  payload: {{#successType}}
     {{> type}} 
  {{/successType}}
}

export interface {{&methodName}}Failure {
  type: '{{&className}}//{{&methodName}}//FAILURE'
  error: any
}

export class {{&methodName}}Action {
  static get REQUEST() : string { return '{{&className}}//{{&methodName}}//REQUEST' }
  static get SUCCESS() : string { return '{{&className}}//{{&methodName}}//SUCCESS' }
  static get FAILURE() : string { return '{{&className}}//{{&methodName}}//FAILURE' }

  static request (parameters: {
    {{#parameters}}
     '{{&camelCaseName}}{{&cardinality}}': {{> type}}, 
    {{/parameters}}
  }) : {{&methodName}}Request {

  return {
    type: '{{&className}}//{{&methodName}}//REQUEST',
    ...parameters,
  }
  }

  static success (payload: {{#successType}}{{>type}}{{/successType}}) : {{&methodName}}Success {
    return {
        payload,
        type: '{{&className}}//{{&methodName}}//SUCCESS',
    }
  }

  static failure (error: any) : {{&methodName}}Failure {
    return {
        type: '{{&className}}//{{&methodName}}//FAILURE',
        error,
    }
  }
}

