

const __CONST___{{&methodName}}__REQUEST = '{{&className}}//{{&methodName}}//REQUEST'
const __CONST___{{&methodName}}__SUCCESS = '{{&className}}//{{&methodName}}//SUCCESS'
const __CONST___{{&methodName}}__FAILURE = '{{&className}}//{{&methodName}}//FAILURE'

export interface {{&methodName}}Request {
  type: '{{&className}}//{{&methodName}}//REQUEST'
  {{#parameters}}
   '{{&camelCaseName}}{{&cardinality}}': {{> type}}
  {{/parameters}}
}

export interface {{&methodName}}Success {
  type: '{{&className}}//{{&methodName}}//SUCCESS'
  payload: {{#successType}}
     {{> type}} 
  {{/successType}}
}

export interface {{&methodName}}Failure {
  type: '{{&className}}//{{&methodName}}//FAILURE' 
  error: any
}

export class {{&methodName}}Action {
  public static REQUEST = __CONST___{{&methodName}}__REQUEST as typeof __CONST___{{&methodName}}__REQUEST
  public static SUCCESS = __CONST___{{&methodName}}__SUCCESS as typeof __CONST___{{&methodName}}__SUCCESS
  public static FAILURE = __CONST___{{&methodName}}__FAILURE as typeof __CONST___{{&methodName}}__FAILURE

  static request (parameters: {
    {{#parameters}}
     '{{&camelCaseName}}{{&cardinality}}': {{> type}}, 
    {{/parameters}}
  }) : {{&methodName}}Request {

  return {
    type: __CONST___{{&methodName}}__REQUEST,
    ...parameters,
  }
  }

  static success (payload: {{#successType}}{{>type}}{{/successType}}) : {{&methodName}}Success {
    return {
        payload,
        type: __CONST___{{&methodName}}__SUCCESS,
    }
  }

  static failure (error: any) : {{&methodName}}Failure {
    return {
        type: __CONST___{{&methodName}}__FAILURE,
        error,
    }
  }
}